<%= form_for @micropost do |f| %>
<!-- 로그인 안했을때-->
<% if signed_in? %>
<div class="field">
	<%= current_user.email %>
</div>
<% else %>
<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<% end %>
<div class="field">
	<%= f.label :content %>
	<%= f.text_field :content %>
</div>
<div class="actions">
	<%= f.submit "글 남기기" %>
</div>
<% end %>

<h2>한줄 글 목록</h2>
<table border="1">
<% @microposts.each do |p| %>
	<tr>
		<% if p.user_id.nil? %>
		<td><%= p.name %></td>	
		<% else %>
		<td><%= User.find(p.user_id).email %></td>	
		<% end %>
		<td><%= p.content %></td>
		<td>
			<% if current_user.admin? || p.user_id = current_user.id %>
				<%= link_to '삭제' %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>