<% if signed_in? %>
<h1>로그인 성공!</h1>
<% end %>

리니리니 혜리니의 첫페이지 입니다. <br/>
여기엔 사진들이 들어가요.<br/>
<br/>
<br/>
<br/>
사진 보여주고 페이지 전환 없이 메뉴가 나오는게 괜찮을거 같음. 아니면 뭔가 섞어두 되잖아?<br/>
<br/>
<small>
= 기능 =<br/>
- 사진만 크게 보여줌<br/>
- 다른 요소 없음<br/>
- 무작위로 하나의 태그를 선택<br/>
- 그리고 그 태그와 연관된<br/>
- 그림들중 랜덤으로 뿌려줌.<br/>
- 이전 다음 사진 볼수 있다.<br/>
(그 이전의 그 이후의)<br/>
첫화면 음악 지정 가능<br/>
</small>
<h4>메뉴</h4>
<ul>
	<li><%= link_to 'Guestbook', guestbook_path %></li>
</ul>
<h4>그외</h4>
<% if signed_in? %>
<%= link_to '로그아웃', logout_path %>
<% else %>
<%= link_to '로그인 페이지' ,login_path %>
<% end %>